<!--The content below is only a placeholder and can be replaced.-->

<form [formGroup]="myForm">
  <mat-form-field class="example-full-width">
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date" [value]="initVal" formControlName="myDate" id="myDate" #myDate>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error #futureError id="futureError" *ngIf="myForm.controls['myDate'].hasError('matDatepickerMax')">ERROR: Future date!</mat-error>
  </mat-form-field>

  <br/>
  <button id="mySubmit" mat-button type="submit">Submit</button>
</form>

<router-outlet></router-outlet>
